<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis的配置-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--配置数据源，交给spring去做-->

    <settings>
    <!--        输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>


    <typeAliases>
        <package name="com.zjj.pojo"/>
    </typeAliases>

<!--    扫描mapper-->
    <mappers>
        <mapper class="com.zjj.dao.BookMapper"/>
    </mappers>

</configuration>